body {
  background: url("../assets/hip-square/hip-square.png");
}


.jumbotron {
background-color: transparent;
padding-top: 90px;
}

body {
background: url("../assets/hip-square/hip-square.png");
}

.hero {
background-image: url("../assets/banner.jpg");
background-size: cover;
background-position: center;
width: 100wh;
height: 60vh;
display: flex;
}

h1, p {
color:  	#FFE0BE;
}


